* {
  box-sizing: border-box;
}

body {
  /* background-color: #1f2937; */
  background-color: black;
  margin: 0px 140px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.9);
}

.header {
  display: flex;
  flex-direction: column;
}

.top-bar {
  height: 72px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #f5f5f5;
  padding: 0px 16px;
  border-bottom: 1px solid #1f2937;
}

.header-content {
  /* background-color: #1f2937; */
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  /* color: #e5e7eb; */
}

.mix-board {
  border-radius: 8px;
}

.body {
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.artists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 20px;
}

.artist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.album {
  height: 150px;
  border-radius: 75px;
}

a .album:hover {
  border: 4px solid #e5e7eb;
  /* opacity: 0.4; */
}

.sign-up {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  height: 150px;
  align-items: center;
  justify-content: flex-start;
}

/* .brand-img {
  padding-left: 3px;
  border-radius: 50px;
  width: 25;
  height: 100px;
  flex: ;
} */

.mail-list {
  background-color: #3882f6;
}

.testimony {
  background-color: #e5e7eb;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: bold;
  font-style: italic;
}

a {
  /* text-decoration: none; */
  color: rgba(0, 0, 0, 0.9);
}

h1 {
  text-align: center;
}

button {
  background-color: #3882f6;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  /* background: #eee; */
  padding: 8px 16px;
  color: #e5e7eb;
}

#black-swan {
  font-family: "Rollergirls";
  font-style: italic;
  text-decoration: underline;
}

.navbar-brand {
  display: flex;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  align-items: center;
}

#brand-img {
  padding-left: 3px;
  border-radius: 5px;
}

#black-swan {
  font-family: "Rollergirls";
  font-style: italic;
}

.footer {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.9);
}

@font-face {
  font-family: "Rollergirls";
  src: url("/assets/font/Rollergirls.eot");
  src: url("/assets/font/Rollergirls.eot?#iefix") format("embedded-opentype"),
    url("/assets/font/Rollergirls.woff2") format("woff2"),
    url("/assets/font/Rollergirls.woff") format("woff"),
    url("/assets/font/Rollergirls.ttf") format("truetype"),
    url("/assets/font/Rollergirls.svg#Rollergirls") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
